**.pt
**.pth
**.ckpt
**/__pycache__/
**.mp3
**.csv

.cache

big_files/*
!big_files/.gitkeep

Pipeline_Components/intermediate_files

labs/lab3_music_to_cont_va/memo
labs/lab3_music_to_cont_va/data
labs/lab3_music_to_cont_va/results*

labs/lab4_emoticrafter/checkpoints/*

labs/lab7_gemini_gen_dataset

natten-0.17.5+torch250cu121-cp310-cp310-linux_x86_64.whl

TODO.md
